body {
    margin: 0px;
    padding: 0px;
    background-color: #1E1E1E;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
}
.wrapper {
    display: flex;
}
.header,.header_mini {
    background: #282828;
    width: 87px;
    height: 100vh;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 10px 10px 0px;
}
.header_background {
    height: 100vh;
    background-color: rgb(40 40 40 / 50%);
}
.logo_user {
    padding-top: 0px;
    border-radius: 50%;
}
.logo_user_text {
    color: #fff;
    text-align: center;
    background: #1E1E1E;
    border-radius: 50%;
    padding: 6px;
    border: 2px solid #fff;
}
.logo_exit {
    padding-top: 20px;
}
.header img,.header_mini img {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
}
.header_mini {
    display: none;
    position: absolute;
    top: 0px;
}
.naz_block {
    padding-left: 8px;
    padding-right: 35px;
    border-radius: 0px 0px 0px 8px;
    /*border-right: 2px solid #E1E1E1;*/
    cursor: pointer;
    display: none;/*flex*/
    color: #fff;
    align-items: center;
}
.naz_block_mini {
    padding-left: 8px;
    padding-right: 35px;
    border-radius: 0px 0px 0px 8px;
    /*border-right: 2px solid #E1E1E1;*/
    cursor: pointer;
    display: none;/*flex*/
    color: #fff;
    align-items: center;
    justify-content: center;
}
.naz_block img,.naz_block_mini img  {
    width: 15px;
}
.naz_block p,.naz_block_mini p {
    margin-left: 10px;
}
.predmet-block-title {
    color: #fff;
    text-align: center;
}
.predmet-block,.block_schedulespredmet,.block_classmates,.block_teachers,.block_homework {
    display: none;
}
.content {
    width: 100%;
    display: block;
}
.block_navigator {
    width: 250px;
    height: 225px;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid #191919;
    margin: 10px;
    background-size: cover;
    background-position: unset;
    background-repeat: no-repeat;
}
.block_navigator_ponel_center_end {
    display: grid;
    align-items: end;
    height: 226px;
    border-radius: 10px;
}
.block_navigator_ponel_text {
    background: #282828;
    color: #E1E1E1;
    margin: 0px;
    width: 101%;
    border-radius: 5px;
    text-align: center;
    margin-left: -1px;
    font-family: 'Oswald', sans-serif;
}
.block-predmet-content,.block_schedulespredmet_content,.block_classmates_content,.block_teachers_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 739px;
    margin-bottom: 100px;
    overflow-y: scroll;
}
.block_homework_content {
    display: block;
    height: 739px;
    overflow-y: scroll;
}
.block_navigator_schedules {
    width: 472px;
    border-radius: 10px;
    border: 2px solid #E1E1E1;
    margin: 10px;
    background: #202020;
}
.block_navigator_schedules_ponel_center_end {
    display: grid;
    align-items: end;
    border-radius: 10px;
}
.block_navigator_ponel_text {
    background: #282828;
    color: #E1E1E1;
    margin: 0px;
    width: 101%;
    border-radius: 5px;
    text-align: center;
    margin-left: -1px;
}
.ubd_butt_schedulestitle {
    font-size: 14px;
    padding: 3px;
    border-radius: 50%;
    display: inline-block;
}
.ubd_butt_schedulestitle h3 {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}
.block_navigator_ponel_text_predmet {
    color: #E1E1E1;
    text-align: center;
}
.classmates_list_block {
    width: 277px;
    border: 2px solid #E1E1E1;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}
.classmates_list_block img {
    width: 64px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    margin-top: 20px; 
}
.classmates_list_block p {
    color: #E1E1E1;
    text-align: center;
    margin-top: 50px;
}
table, th, td {
    border: 1px solid #E1E1E1;
    border-collapse: collapse;
    color: #E1E1E1;
  }
table {
    width: 100%;
}
td {
    padding: 10px;
}
.title_menu {
    color: #fff;
    text-align: center;
    font-size: 11px;
}
.block_book,.block_list,.block_people,.block_teacher,.block_homeworks {
    cursor: pointer;
}
.butt_ubd_p {
    color: #191919;
    text-align: center;
    background: #E1E1E1;
    width: 150px;
    height: 32px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 10px;
}
.butt {
    background: #191919;
    padding: 5px;
    border-radius: 10px;
    color: #E1E1E1;
    margin: 0 auto;
    margin-top: 25px;
    border: 2px solid #E1E1E1;
    cursor: pointer;
}
.block_ubd_schedulestitle_ {
    width: 50%;
/*    height: 500px;**/
    position: fixed;
    background: #191919;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: auto;
    text-align: center;
    display: none;
    border-radius: 10px;
    border: 2px solid #E1E1E1;
}
.block_ubd_schedulestitle_list {
    height: 36px;
    background: #E1E1E1;
    color: #191919;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.block_ubd_schedulestitle_list h2 {
    margin: 0 auto;
    font-size: smaller;
}
.block_ubd_schedulestitle_list h3 {
    cursor: pointer;
    margin-right: 20px;
    font-size: smaller;
}
.input {
    width: 100%;
    border-radius: 10px;
    height: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #191919;
    border: none;
}
.block_bleck_ {
    left: 0px;
    top: 0px;
    position: fixed;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    display: none;
}
.bmenu {
    width: 64px;
    height: 64px;
    padding: 10px;
    display: none;
}
.mini_navigator {
    margin-bottom: 150px;
}
.navigat_predmet_ponel {
    color: #E1E1E1;
    text-align: center;
}
.navigat_predmet_ponel_block {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    flex-wrap: wrap;
}
.navigat_predmet_ponel_block_o1 {
    width: 250px;
    height: 225px;
    border: 2px solid #E1E1E1;
    border-radius: 10px;
    background-image: url(img/o1.svg);
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-position: center;
    cursor: pointer;
}
.navigat_predmet_ponel_block_o1 p {
    margin-top: 185px;
}
.navigat_predmet_ponel_block_o2 {
    width: 250px;
    height: 225px;
    border: 2px solid #E1E1E1;
    border-radius: 10px;
    background-image: url(img/o2.svg);
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-position: center;
    cursor: pointer;
}
.navigat_predmet_ponel_block_o2 p {
    margin-top: 185px;
}
.navigat_predmet_ponel_block_o3 {
    width: 250px;
    height: 225px;
    border: 2px solid #E1E1E1;
    border-radius: 10px;
    background-image: url(img/o3.svg);
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-position: center;
    cursor: pointer;
}
.navigat_predmet_ponel_block_o3 p {
    margin-top: 185px;
}
.block_ubd_schedulestitle_ {
    width: 50%;
/*    height: 500px;**/
    position: fixed;
    background: #191919;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: auto;
    text-align: center;
    display: none;
    border-radius: 10px;
    border: 2px solid #E1E1E1;
}
.block_pridmet_text {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #E1E1E1;
}
.butt_ubd_p {
    color: #191919;
    text-align: center;
    background: #E1E1E1;
    width: 150px;
    height: 32px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 10px;
}
.block_itog_o {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
.block_itog_o_content {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: rgb(40 40 40);
    margin-bottom: 20px;
}
.block_itog_o_content h2 {
    color: #fff;
    text-align: center;
    padding-top: 32px;
}
.block_itog_o_content h1 {
    color: #fff;
    text-align: center;
}
.account_block {
    position: absolute;
    left: 25px;
    bottom: 0px;
}
.logo_block {
    margin: 0 auto;
    width: 215px;
    margin-top: 200px;
}
.registr_block {
    margin: 0 auto;
    width: 215px;
    margin-top: 100px;
}
.logo_block_img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    border: 2px solid #fff;
}
.logo_block_input {
    display: block;
    margin-top: 25px;
}
#status_text_ {
    color: red;
    text-align: center;
}
.reg_butt {
    text-align: center;
    color: #fff;
    cursor: pointer;
}
@media (max-width: 515px) {
    .header {
        display: none;
    }
    .header_mini {
        width: 100%;
        position: absolute;
    }
    .bmenu {
        display: block;
    }
    .mini_navigator,.mini_navigator_r {
        margin-bottom: 200px;
    }
    .block_navigator_homework_predmet,.evel_evel_table {
        overflow-x: scroll;
    }
    .block_itog_o {
        display: flex;
        margin-top: 20px;
        flex-wrap: wrap;
        overflow-x: scroll;
        height: 613px;
    }
    .navigat_predmet_ponel_block {
        overflow-x: scroll;
        height: 613px;
    }
    .navigat_predmet_ponel_block_o3 {
        margin-bottom: 150px;
    }
    .butt_pk {
        display: none;
    }
    .butt_mini {
        display: block;
    }
    .account_block {
        position: relative;
        left: 0px;
    }
    .logo_user_text {
        width: 32px;
        height: 32px;
        margin: 0 auto;
    }
    .block_ubd_schedulestitle_ {
        width: 85%;
    }
}
@media (min-width: 515px) {
    .media_naz_block_mini {
        display: none;
    }
    .butt_pk {
        display: block;
    }
    .butt_mini {
        display: none;
    }
}