body {
    margin: 0px;
    padding: 0px;
    background-color: #1E1E1E;
    font-family: 'Oswald', sans-serif;
}
.wrapper {
    display: flex;
}
.header {
    background: #282828;
    width: 87px;
    height: 100vh;
}
.header img {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.predmet-block-title {
    color: #fff;
    text-align: center;
}
.predmet-block,.block_schedulespredmet,.block_classmates,.block_teachers,.block_homework {
    display: none;
}
.content {
    width: 100%;
    display: block;
}
.block_navigator {
    width: 250px;
    height: 225px;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid #191919;
    margin: 10px;
    background-size: cover;
    background-position: unset;
    background-repeat: no-repeat;
}
.block_navigator_ponel_center_end {
    display: grid;
    align-items: end;
    height: 226px;
    border-radius: 10px;
}
.block_navigator_ponel_text {
    background: #282828;
    color: #E1E1E1;
    margin: 0px;
    width: 101%;
    border-radius: 5px;
    text-align: center;
    margin-left: -1px;
    font-family: 'Oswald', sans-serif;
}
.block-predmet-content,.block_schedulespredmet_content,.block_classmates_content,.block_teachers_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 739px;
    overflow-y: scroll;
}
.block_homework_content {
    display: block;
    height: 739px;
    overflow-y: scroll;
}
.block_navigator_schedules {
    width: 472px;
    border-radius: 10px;
    border: 2px solid #E1E1E1;
    margin: 10px;
    background: #202020;
}
.block_navigator_schedules_ponel_center_end {
    display: grid;
    align-items: end;
    border-radius: 10px;
}
.block_navigator_ponel_text {
    background: #282828;
    color: #E1E1E1;
    margin: 0px;
    width: 101%;
    border-radius: 5px;
    text-align: center;
    margin-left: -1px;
}
.ubd_butt_schedulestitle {
    font-size: 14px;
    padding: 3px;
    border-radius: 50%;
    display: inline-block;
}
.ubd_butt_schedulestitle h3 {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}
.block_navigator_ponel_text_predmet {
    color: #E1E1E1;
    text-align: center;
}
.classmates_list_block {
    width: 277px;
    border: 2px solid #E1E1E1;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}
.classmates_list_block img {
    width: 64px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    margin-top: 20px; 
}
.classmates_list_block p {
    color: #E1E1E1;
    text-align: center;
    margin-top: 50px;
}
table, th, td {
    border: 1px solid #E1E1E1;
    border-collapse: collapse;
    color: #E1E1E1;
  }
table {
    width: 100%;
}
td {
    padding: 10px;
}
.title_menu {
    color: #fff;
    text-align: center;
    font-size: 11px;
}
.block_book,.block_list,.block_people,.block_teacher,.block_homeworks {
    cursor: pointer;
}